.sendForm {
    position: sticky;
    bottom: 10px;
    width: 100%;
}

.form {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    padding: 10px 0;
    background-color: white;
}

.userCard {
    max-width: 140px;
    width: 140px;
    border: 1px solid;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.userInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.userCardItem {
    padding: 5px;
}