.sendForm {
    position: sticky;
    bottom: 0;
    background-color: #ffffff;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    right: 0;
    z-index: 999; /* Поднимает блок над другими элементами */
    overscroll-behavior: none;
}
.userCard {
    max-width: 140px;
    width: 140px;
    border: 1px solid;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.userInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.userCardItem {
    padding: 5px;
}