.wrapper {
    padding-top: 50px;
}

.wrapper h3 {
    padding-bottom: 20px;
    font-size: 21px;
}

.input {
    display: flex;
    align-items: center;
}

.input input {
    resize: none;
    width: 600px;
    height: 45px;
    border-radius: 12px;
    padding: 5px 0 0 5px;
    background-color: #EFE2BA;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.input input:focus, input:focus {
    outline: none;
}

.input button {
    width: 90px;
    height: 32px;
    text-align: center;
    margin-left: 20px;
    border-radius: 12px;
    border: none;
    background-color: #4056A1;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.input button:hover {
    background-color: #B23850;
    transition: 0.5s;
}




