.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    max-width: 300px;
    margin: 0 auto;
}
.container {
    height: 100vh;
}